/* You can add global styles to this file, and also import other style files */
body {
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container{
    background-color: #fff;
    padding: 30px;
    -webkit-box-shadow: 6px 14px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 14px 17px -4px rgba(0,0,0,0.75);
    box-shadow: 6px 14px 17px -4px rgba(0,0,0,0.75);
}