<div class="container-fluid">
    <h1 class="text-center mt-5 display-5 font-weight-lighter">Informacion del vuelo</h1>
    <div class="row justify-content-center mt-3">
        <div class="col-11 col-sm-9 colmd-6 col-lg-5 col-xl-4" id="container">
            <br>
            <ng-container *ngFor="let flight of flightListArray">
                <ng-container *ngIf=" flight.$key == dataExtractor.key">
                    <p><b>Tiempo: </b>{{flight.tiempo}}</p>
                    <p><b>Hora: </b>{{flight.hora}}</p>
                    <p><b>Pais: </b>{{flight.pais}}</p>
                </ng-container>
            </ng-container>
            <br>
            <p style="text-align:center;"><b>Lista de Pasajeros</b></p>
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Correo</th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let flight of flightListArray">
                        <ng-container *ngIf=" flight.$key == dataExtractor.key">
                            <ng-container *ngFor="let passenger of passengerListArray">
                                <ng-container *ngIf="passenger.vuelo == dataExtractor.key">
                                <tr>
                                    <td>{{passenger.nombre}}</td>
                                    <td>{{passenger.apellido}}</td>
                                    <td>{{passenger.edad}}</td>
                                    <td>{{passenger.email}}</td>
                                </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
            </tbody>
          </table>
        </div>
    </div>
  </div>

